langchain
langchain-core
langchain-community
pypdf
pymupdf
unstructured 
openpyxl
networkx
pandas
msoffcrypto-tool
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_huggingface
langchain_openai
langgraph
typing
langchain-text-splitters